body
{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;

    margin: 0;
    padding: 0;

    color: #111;
}

.container
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header
{
    -webkit-transition: background-color .8s ease;
         -o-transition: background-color .8s ease;
            transition: background-color .8s ease;
}


.slide1-bg
{
    background-color: #fcdb00;
}


.slide2-bg
{
    background-color: rgb(255, 96, 48);
}


.slide3-bg
{
    background-color: rgb(48, 179, 255);
}


.header-wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 58px;
    padding-top: 50px;
    padding-left: 10px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-logo
{
    padding-top: 10px;
}

.main-nav__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 354px;
    margin: 0;
    padding: 0;
    padding-top: 25px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-nav__item
{
    font-family: 'Helvetica Neue', serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;

    padding: 0;

    list-style: none;
}

.main-nav__link:first-child
{
    letter-spacing: -.9px;
}

.main-nav__link
{
    text-decoration: none;

    color: #000;
}

.main-nav__link:hover{
    color: rgb(90, 52, 181);
}

.promo
{
    position: relative;
}


.promo-slide
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 575px;
    padding-right: 40px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.promo__info
{
    width: 395px;
    padding-top: 75px;
}

.promo-info__wrapper
{
    padding-left: 13px;
}





.promo__title
{
    font-size: 32px;
    font-weight: bold;
    line-height: 18px;

    margin: 0;
    margin-bottom: 27px;
}

.promo__slogan
{
    font-size: 20px ;
    line-height: 24px;

    margin: 0;
    margin-bottom: 18px;
    padding-right: 2px;

    color: #313841;
}

.promo__text
{
    font-size: 16px;
    line-height: 20px;

    margin: 0;
    margin-bottom: 15px;

    color: #555;
}

.promo__platforms
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 200px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.platforms__icon
{
    font-size: 0;

    width: 50px;
    height: 50px;

    background-size: 180px;
}

.ios
{
    background-image: url(../img/store-buttons.png);
    background-repeat: no-repeat;
    background-position: -8% 50% ;
}

.android
{
    background-image: url(../img/store-buttons.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.windows
{
    background-image: url(../img/store-buttons.png);
    background-repeat: no-repeat;
    background-position: 107% 50%;
}

/*Кнопки контроля*/
.promo .controls
{
    position: absolute;
    bottom: 44px;
    left: 47%;
}


.controls__button
{
    position: relative;

    display: inline-block;

    width: 15px;
    height: 15px;
    margin-right: 3px;

    cursor: pointer;

    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
}

.slider-active
{
    background-color: #fff;
}

.controls__button:hover
{
    background: #fff;
}






.features
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 115px;
    padding-bottom: 165px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}


.features__header
{
    width: 760px;
    margin-bottom: 85px;

    text-align: center;
}

.features__title
{
    font-size: 32px;
    line-height: 32px;

    margin: 0;
    margin-bottom: 15px;
}

.features__title-text
{
    font-size: 20px;
    line-height: 24px;

    margin: 0;
}

.features__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-height: 313px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}


.features__description
{
    font-size: 16px;
    line-height: 20px;

    margin: 0;

    color: #898989;
}

.features__icon
{
    position: absolute;
    top: 0;
    left: 6px;

    width: 55px;
    height: 50px;
}

.pad-icon
{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -5px -7px;
}

.psd-icon
{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -69px -3px;
}

.folder-icon
{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -132px -4px;
}

.tag-icon
{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -6px 85%;
}

.mail-icon
{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 53% 93%;
}

.download-icon
{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 96% 94%;
}


.features__name
{
    font-size: 22px;
    font-weight: normal;
    line-height: 24px;

    display: inline-block;

    margin-bottom: 10px;

    vertical-align: top;

    color: #010101;
}


.features__item
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 300px;
    padding: 0;
    padding-left: 83px;
}


.features__item:nth-of-type(3n)
{
    margin-right: 4px;
}









.feedback
{
    padding-bottom: 79px;

    text-align: center;

    background-color: #010101;
}

.feedback__title
{
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;

    margin: 0;
    margin-bottom: 15px;

    color: #fcdb00;
}

.feedback__text
{
    font-size: 20px;
    line-height: 24px;

    display: block;

    width: 760px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;

    color: #898989;;
}

.feedback__form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 740px;
    margin: 0 auto;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.feedback__input
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 580px;
    height: 50px;
    padding-left: 20px;

    border: none;
    border-radius: 5px;
}

.feedback__input::-webkit-input-placeholder
{
    font-size: 16px;
    line-height: 20px;

    color: #898989;
}

.feedback__input:-ms-input-placeholder
{
    font-size: 16px;
    line-height: 20px;

    color: #898989;
}

.feedback__input::-ms-input-placeholder
{
    font-size: 16px;
    line-height: 20px;

    color: #898989;
}

.feedback__input::placeholder
{
    font-size: 16px;
    line-height: 20px;

    color: #898989;
}

.feedback__button
{
    width: 125px;
    height: 50px;
    margin-left: 20px;

    border: none;
    border-radius: 5px;
}



.feedback__button
{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    padding-top: 5px;
    padding-left: 5px;

    letter-spacing: -1px;
    text-transform: uppercase;

    background-color: #fcdb00;
}

.feedback__button:active{
    box-shadow: inset 0px 3px 2px 0px #4f4e47;
}


footer
{
    font-size: 16px;
    line-height: 20px;

    padding-top: 92px;
    padding-bottom: 140px;

    color: #fff;
    background-color: #010101;
}

.footer-social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 125px;
    margin-left: -45px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.socials__btn
{
    font-size: 0;

    display: inline-block;

    width: 40px;
    height: 40px;
}

.socials__fb
{
    background-image: url(../img/social-icon.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.socials__tw
{
    background-image: url(../img/social-icon.png);
    background-repeat: no-repeat;
    background-position: -70px 0;
}

.socials__google
{
    background-image: url(../img/social-icon.png);
    background-repeat: no-repeat;
    background-position: -137px 0;
}

.socials__pt
{
    background-image: url(../img/social-icon.png);
    background-repeat: no-repeat;
    background-position: -205px 0;
}

.socials__btn:not(:first-child)
{
    margin-left: 27px;
}


.footer-bottom
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 0 15px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.footer-nav
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 531px;
    margin-right: 72px;
}

.footer-nav__list
{
    margin: 0;
    padding: 0;
}

.footer-nav__list:nth-of-type(1)
{
    margin-right: 95px;
}

.footer-nav__list:nth-of-type(2)
{
    margin-right: 108px;
}

.footer-nav__list:nth-of-type(3)
{
    margin-right: 83px;
}


.footer-bottom__contacts
{
    line-height: 21px;

    margin: 0;
}




.footer-nav__item
{
    list-style: none;
}

.link-block
{
    margin: 0;
    padding: 0;
}

.footer-link
{
    text-decoration: none;

    color: #fff;
}

.footer-link:hover
{
    color: #fcdb00;
}

.link-home
{
    display: block;
    position: fixed;
    top: 20%;
    left: 90%;
    z-index: 11;
    background-color: rgb(194, 14, 43);
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-top: 25px;
}